{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <section class="about">
        <h1>About Tenebris scientia</h1>
        <p>It is not known exactly when Tenebris scientia was founded. The latest findings place its foundation sometime in the 13th century. Since then, the university has renewed itself several times, built additional faculties and corresponding buildings and expanded its land. An important step in its history was the almost complete exploration of the crystal cave tunnel systems beneath its halls in the course of the 16th century. The healing and spell-enhancing effects of the crystals grown there are still being researched and used today.</p>
        <p>Tenebris scientia enjoys a national and international reputation as a university where students from all walks of life either fall low or rise very high.</p>
        <p>Since its founding, Tenebris scientia has focused on the study, application and expansion of the dark arts, and is the only practicing university in the western world to offer courses in necromancy and communication with the dead.</p>
        <p>While the university is often criticized in the press for its affinity with the Dark Arts, and while it has produced powerful dark wizards such as Lord Veldomert and Erebus the Deceiver who later committed terrible atrocities, it must also be emphasized that the Dark Arts are taught only with the utmost sense of responsibility, and said dark wizards would have gone their tragic way even without their training at the university.</p>
        <p>Tenebris scientia is committed to a free, unprejudiced world in which anyone can learn any magic without being persecuted or ostracized for it. It strongly condemns all forms of magical warfare and torture and is the leading research institute in the field of counter-curses.</p>
    </section>
    <footer class="aboutFooter">
        <p>References: The name of the university, all texts and most of the names of personalities mentioned on these pages are fictitious. A few names are allusions to fictional characters from other works.<br />The logo of the university was created with Craiyon. (See <a href="https://www.craiyon.com/">https://www.craiyon.com/</a>)<br />The poems are my own.</p>
    </footer>
{% endblock %}
