{% extends "layout.html" %}

{% block title %}
    Campus
{% endblock %}

{% block main %}
    <section class="campus">
        <h1>The Campus of Tenebris scientia</h1>
        <p>The walls of the university hold many old secrets for the curious student. Over the centuries of its existence, a number of secret passages have been created, forgotten and rediscovered. During all the renovations throughout its long history, whether at the top of the Astronomy Tower, along the winding paths on the grounds or in the extensive cellar vaults, the utmost care has been taken to preserve the historical architecture. Students enjoy meals three times a day from state-of-the-art kitchens in the original assembly hall, where even the gifted witch Marian Degroe used to eat her meals in the early 18th century. Lectures are held in time-honored lecture halls with state-of-the-art acoustics, and the windows of the culturally rich dormitories are triple-glazed and draught-proof.</p>
        <p>Highlights on the university campus are the Old Forest and the labyrinthine tunnel systems of the Crystal Caves.</p>
        <br />
        <h3 class="forest">The Old Forest</h3>
        <p>The Old Forest was planted around five hundred years ago to provide a refuge for various magical creatures and has grown steadily ever since. Tenebris scientia is home to one of the last herds of unicorns in the world, has room for several troll communities and is proud of two confirmed sightings of endangered firefox pups.</p>
        <p>Field trips introduce students to the magical properties of the medicinal moss that grows here and the bark of the Lengemann Ash, named after its discoverer, Tenebris scientias' own Professor Lengemann.</p>
        <p>Students and guests are warned not to follow the will-o'-the-wisps deeper into the forest. Away from the paths at the edge of the forest, physical safety and a safe return cannot be guaranteed.</p>
        <br />
        <h3 class="caves">The Crystal Caves</h3>
        <p>Not only in the Old Forest, but also in the Crystal Caves, an overzealous explorer can get lost quicker than he would like.</p>
        <p>The labyrinthine tunnels of the Crystal Caves were discovered around a century after the founding of Tenebris scientia during an extensive renovation of the cellar vaults. Many decades of exploration and many more missing persons reports followed, until the mapping was largely declared complete in the 16th century. Even today, many unexplored paths remain off the illuminated and signposted trails, which are thought to be unprofitable to explore. Even if it is not forbidden, the university staff strongly discourage independent exploration. There are no search teams for adventurers lost in the tunnel systems.</p>
        <p>Apart from the ease of getting lost, the Crystal Caves offer breathtaking stalactite caves, sparkling crystal lights in underground lakes, refreshing temperatures in summer and the magical crystals themselves, which enjoy great international attention. In the course on crystallography, students learn everything there is to know about the sometimes healing, sometimes deadly enhancing power of crystals in magic under the guidance of the young and masterful Professor Argentum. The field of crystallography has many more discoveries to offer and Tenebris scientia offers several Bachelor's and Master's theses in this field.</p>
    </section>
{% endblock %}
