{% extends "layout.html" %}

{% block title %}
    Poetry Competition
{% endblock %}

{% block main %}
    <section class="poetry">
        <h1>Winners of the annual Poetry Competition</h1>
        <h3>First place: Tenebris scientia, by Meera Stelling</h3>
        <p>Banished, hunted, left for dead<br />
            Fallen, you have lost it all<br />
            You have suffered, toiled and bled<br />
            Listen now, and heed our call<br /><br />

            Shun the world and all therein<br />
            Forget from whom you stem<br />
            The useless scum that you call kin<br />
            You have no need of them<br /><br />

            We alone can peek inside<br />
            And know what you must do<br />
            We alone can be your guide<br />
            Our strength will foster you<br /><br />

            Taste of knowledge, witness might<br />
            Wisdom that we may bestow<br />
            In hidden halls far out of sight<br />
            Heed our call, observe and grow<br /><br /></p>

        <h3>Second place: Lady Moon, by Thomas Marten</h3>
        <p>When little kids must go to bed<br />
            At their final day<br />
            They tend to plead and wail instead<br />
            They ask why they can't stay<br /><br />

            They are too young to understand<br />
            And will not ever know<br />
            They make a final, desperate stand<br />
            And just refuse to go<br /><br />

            But then they hear that silent tune<br />
            The song of endless night<br />
            They hear the voice of Lady Moon<br />
            And leave without a fight<br /><br /></p>

        <h3>Third place: The King's Last Gift, by Filiez Warring</h3>
        <p>The sun sent out her shining rays<br />
            To please the life of paradise<br />
            These were the happiest of days<br />
            No clouds obscured the open skies<br /><br />

            There was but one who felt no bliss<br />
            The Crimson King felt dread<br />
            For he had glimpsed the dark abyss<br />
            He knew what lay ahead<br /><br />

            He alone foresaw his fate<br />
            And of those at his side<br />
            He had sensed the wolven hate<br />
            Of kinship that had died<br /><br />

            So when his erstwhile brother came<br />
            To fight and kill them all<br />
            He knew he was the one to blame<br />
            And he would take the fall<br /><br />

            Through bedlam, firing guns and hell<br />
            He walked to meet his foe<br />
            He weaved his last and strongest spell<br />
            Then took the killing blow<br /><br />

            Silence swept across the land<br />
            Swallowing the roar of guns<br />
            A demigod had met his end<br />
            He died so he could save his sons<br /><br /></p>

        <h3>Consolation price: 四 (Four), by Seamus Fondran</h3>
        <p>Let's learn to count in Japanese!<br />
            Let's start with "ichi", that means "one"<br />
            You'll see, it's really quite a breeze<br />
            Before you know it we'll be done<br /><br />

            We're moving on, next up is two<br />
            "Ni" is how we're spelling that<br />
            You see, my friend, I'm telling you<br />
            It really isn't all that bad<br /><br />

            "Ni" is followed up by "san"<br />
            Whatever number could that be?<br />
            Oh my god, that's really fun!<br />
            Of course it is the number three!<br /><br />

            But then, oh no, what's after three?<br />
            Take good care and hold your breath<br />
            Four, by mischance, is spelled "shi"<br />
            Four is bad luck, four is death<br /><br /></p>
    </section>
{% endblock %}
